{%- import "_macros.jinja" as macros -%}
{#
  Note: indentation of 6 spaces is important because that's the depth level
  of container labels in a docker-compose file.

  At some point, Traefik v1 will be unsupported and this file will disappear.
#}

{# Echo all domains without redirections, separated with commas #}
{%- macro main_domains_rule(domain_groups_list) %}
  {%- set _ns = namespace(had_first_match=false) %}
  {%- call(domain) macros.domains_loop_single(domain_groups_list) %}
    {%- if not domain.redirect_to %}
      {%- if _ns.had_first_match %},{% endif %}
      {%- set _ns.had_first_match = true %}
      {{- domain.host }}
    {%- endif %}
  {%- endcall %}
{%- endmacro %}

{%- macro odoo(domain_groups_list, paths_without_crawlers) %}
      {%- set _rule = main_domains_rule(domain_groups_list) %}
      {%- if _rule %}
      {%- if paths_without_crawlers %}
      traefik.forbid-crawlers.frontend.rule:
        Host:{{ _rule }};PathPrefix:
        {%- for path in paths_without_crawlers -%}
          {{ path }},{{ path }}/{anything:.*}
          {%- if not loop.last %},{% endif %}
        {%- endfor %}
      {%- endif %}
      traefik.longpolling.frontend.rule:
        Host:{{ _rule }};PathPrefix:/longpolling/
      traefik.www.frontend.rule: Host:{{ _rule }}

      {% if domain_group.redirect_to %}
      traefik.alt-{{ domain_group.loop.index0 }}.frontend.redirect.regex: ^(.*)://([^/]+)/(.*)$$
      traefik.alt-{{ domain_group.loop.index0 }}.frontend.redirect.replacement: $$1://{{ domain_group.redirect_to }}/$$3
      traefik.alt-{{ domain_group.loop.index0 }}.frontend.rule:
        Host:{{ domain_group.hosts|join(",") }}
      {%- endif %}
      {%- endcall %}
      {%- endif %}
{%- endmacro %}
